In [3]:
import findspark
findspark.init('/home/ubuntu/spark-2.4.0-bin-hadoop2.7/')

In [15]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Account').getOrCreate()

In [31]:
df = spark.read.json('/home/ubuntu/people.json')

In [28]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [32]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
|  26| Amyway|
+----+-------+

In [33]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 3|      4|
|   mean|              25.0|   null|
| stddev|5.5677643628300215|   null|
|    min|                19| Amyway|
|    max|                30|Michael|
+-------+------------------+-------+

In [34]:
df.columns

['age', 'name']

In [35]:
from pyspark.sql.types import StructField,IntegerType,StringType,StructType

In [42]:
data_schema = [StructField('age',IntegerType(),True),StructField('name',StringType())]
final_schema = StructType(data_schema)

In [43]:
df = spark.read.json('people.json',schema = final_schema)

In [44]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [59]:
from pyspark.sql.types import StructField,FloatType,IntegerType,StringType,StructType,LongType
ratings_schema = [StructField('userId',IntegerType(),True),StructField('movieID',IntegerType(),True), 
                StructField('rating',FloatType(),True),StructField('timestamp',LongType(),True)]

newrtschema = StructType(ratings_schema)
                  
ratings_DF = spark.read.csv('ratings.csv',header = True,schema=newrtschema)

In [60]:
ratings_DF.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieID: integer (nullable = true)
 |-- rating: float (nullable = true)
 |-- timestamp: long (nullable = true)

In [61]:
ratings_DF.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieID: integer (nullable = true)
 |-- rating: float (nullable = true)
 |-- timestamp: long (nullable = true)

In [64]:
ratings_DF.show()

+------+-------+------+---------+
|userId|movieID|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
|     1|     70|   3.0|964982400|
|     1|    101|   5.0|964980868|
|     1|    110|   4.0|964982176|
|     1|    151|   5.0|964984041|
|     1|    157|   5.0|964984100|
|     1|    163|   5.0|964983650|
|     1|    216|   5.0|964981208|
|     1|    223|   3.0|964980985|
|     1|    231|   5.0|964981179|
|     1|    235|   4.0|964980908|
|     1|    260|   5.0|964981680|
|     1|    296|   3.0|964982967|
|     1|    316|   3.0|964982310|
|     1|    333|   5.0|964981179|
|     1|    349|   4.0|964982563|
+------+-------+------+---------+
only showing top 20 rows

In [65]:
ratings_DF.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieID: integer (nullable = true)
 |-- rating: float (nullable = true)
 |-- timestamp: long (nullable = true)

In [71]:
ratings_DF['userID'].show()

TypeError: 'Column' object is not callable

In [81]:
ratings_DF.show()

+------+-------+------+---------+
|userId|movieID|rating|timestamp|
+------+-------+------+---------+
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
|     1|      6|   4.0|964982224|
|     1|     47|   5.0|964983815|
|     1|     50|   5.0|964982931|
|     1|     70|   3.0|964982400|
|     1|    101|   5.0|964980868|
|     1|    110|   4.0|964982176|
|     1|    151|   5.0|964984041|
|     1|    157|   5.0|964984100|
|     1|    163|   5.0|964983650|
|     1|    216|   5.0|964981208|
|     1|    223|   3.0|964980985|
|     1|    231|   5.0|964981179|
|     1|    235|   4.0|964980908|
|     1|    260|   5.0|964981680|
|     1|    296|   3.0|964982967|
|     1|    316|   3.0|964982310|
|     1|    333|   5.0|964981179|
|     1|    349|   4.0|964982563|
+------+-------+------+---------+
only showing top 20 rows

In [90]:
ab = ratings_DF.withColumn('userIdnew',ratings_DF['userID'] + 100 )
ab.show()
ratings_DF.withColumnRenamed('userId','USER_NO' ).show()

+------+-------+------+---------+---------+
|userId|movieID|rating|timestamp|userIdnew|
+------+-------+------+---------+---------+
|     1|      1|   4.0|964982703|      101|
|     1|      3|   4.0|964981247|      101|
|     1|      6|   4.0|964982224|      101|
|     1|     47|   5.0|964983815|      101|
|     1|     50|   5.0|964982931|      101|
|     1|     70|   3.0|964982400|      101|
|     1|    101|   5.0|964980868|      101|
|     1|    110|   4.0|964982176|      101|
|     1|    151|   5.0|964984041|      101|
|     1|    157|   5.0|964984100|      101|
|     1|    163|   5.0|964983650|      101|
|     1|    216|   5.0|964981208|      101|
|     1|    223|   3.0|964980985|      101|
|     1|    231|   5.0|964981179|      101|
|     1|    235|   4.0|964980908|      101|
|     1|    260|   5.0|964981680|      101|
|     1|    296|   3.0|964982967|      101|
|     1|    316|   3.0|964982310|      101|
|     1|    333|   5.0|964981179|      101|
|     1|    349|   4.0|964982563|      101|
+------+-------+------+---------+---------+
only showing top 20 rows