In [2]:
import findspark
findspark.init('/home/ubuntu/spark-2.4.0-bin-hadoop2.7/')

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DF Operations').getOrCreate()

In [10]:
people_DF = spark.read.json('/home/ubuntu/people.json')

In [11]:
people_DF.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [12]:
people_DF.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
|  26| Amyway|
|  35|   null|
+----+-------+

In [39]:
people_DF.createOrReplaceTempView('people')

str

In [40]:
result = spark.sql("select * from people")

In [42]:
type(result)

pyspark.sql.dataframe.DataFrame

In [45]:
new_result = spark.sql("select NAme from PeoPle where Age > 20  ")

In [48]:
new_result.show()

+------+
|  NAme|
+------+
|  Andy|
|Amyway|
|  null|
+------+

In [52]:
people_DF.head(1)

Row(age=None, name='Michael')